<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Бронь</h1>
    <p>
      ФИО: <%=@welcome.name %> <br>
      Телефон: <%=@welcome.phone %> <br>
      Отправление: <%=@welcome.departure %> <br>
      Прибытие: <%=@welcome.arrival %> <br>
      Дата: <%=@welcome.date %> <br>
      Кол-во пассажиров: <%=@welcome.count %> <br>
    </p>
  </body>
</html>