<table class="table table-hover">
    <thead>
      <tr>
        <th>Время<br>отправления</th>
        <th>Город</th>
        <th>Место<br> отправления</th>
        <th>Время <br>прибытия</th>
      </tr>
    </thead>
    <tbody>
    <% @schedules.each do |s| %>
      <tr>
        <td><%= s.deptime %></td>
        <td><%= s.city %></td>
        <td><%= s.street %></td>
        <td><%= s.aparttime %></td>
      </tr> 
    <% end %>             
    </tbody>
</table>
