    <!--=========== BEGAIN BLOG SECTION ================-->
    <section id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- START BLOG HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig">Наши новости</h2>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN BLOG CONTENT -->
            <div class="blog_content">
            <% @news.each do |news| %>
            <%= render "schedules/index" %>
              <!-- BEGAIN BLOG SLIDER -->
              <div class="blog_slider">
                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-3">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <%= image_tag news.image.url %>
                    </div>
                    <h3><%= news.title %></h3>
                    <div class="post_commentbox">
                      <span><i class="fa fa-calendar"></i><%= news.created_at %></span>
                    </div>
                    <p><%= news.desc %></p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>

                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="assets/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>11Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>

                <!-- BEGAIN SINGLE BLOG -->
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <div class="single_post wow fadeInUp">
                    <div class="blog_img">
                      <img src="assets/blog_img1.jpg" alt="img">
                    </div>
                    <h3>Sed ut perspiciatis unde omnis</h3>
                    <div class="post_commentbox">
                      <a href="#"><i class="fa fa-user"></i>Wpfreeware</a>
                      <span><i class="fa fa-calendar"></i>6:49 AM</span>
                      <a href="#"><i class="fa fa-tags"></i>Technology</a>
                    </div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <a href="#" class="read_more">Read More <i class="fa fa-angle-double-right">  </i></a>
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->
    <% end %>