<!DOCTYPE html>
<html>
  <body> 

        <!--=========== BEGIN HEADER SECTION ================-->
    <header id="header">
      <!-- BEGIN MENU -->
      <div class="menu_area">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation"> 
          <div class="container">
          <div class="navbar-header">
            <!-- FOR MOBILE VIEW COLLAPSED BUTTON -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <!-- LOGO -->

            <!-- TEXT BASED LOGO -->
            <a class="navbar-brand" >Tandem-<span>Tour</span></a>
            
            <!-- IMG BASED LOGO  -->
            <!--  <a class="navbar-brand" href="#"><img src="img/logo.png" alt="logo"></a> --> 
            
                   
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul id="top-menu" class="nav navbar-nav navbar-right main_nav">
              <li class="active"><a href="#">Главная</a></li>
              <li><a href="#about">О нас</a></li>
              <li><a href="#works">Наши Достижения</a></li> 
              <li><a href="#pricing">Машрут</a></li> 
              <li><a href="#blog">Расписание</a></li>               
              <li><a href="#contact">Забронировать</a></li> 
              <li><a href="#service">Услуги</a></li>                            
            </ul>           
          </div><!--/.nav-collapse -->
          </div>     
        </nav>  
      </div>
      <!-- END MENU -->


     <!-- BEGAIN PRELOADER -->
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- END PRELOADER -->

    <!-- SCROLL TOP BUTTON -->
    <a class="scrollToTop" href=""><i class="fa fa-angle-up"></i></a>
    <!-- END SCROLL TOP BUTTON -->

 

      <!-- BEGIN SLIDER AREA-->
      <div class="slider_area">
        <!-- BEGIN SLIDER-->          
        <div id="slides">
          <ul class="slides-container">

            <!-- THE FIRST SLIDE-->
            <li>
              <!-- FIRST SLIDE OVERLAY -->
              <div class="slider_overlay"></div> 
              <!-- FIRST SLIDE MAIN IMAGE -->
              <img src="krim.jpg" />
              <!-- FIRST SLIDE CAPTION-->
              <div class="slider_caption">
                <h2>Пассажирские перевозки <br>Донбасс - Крым </h2>
                <p>Ежедневно в обе стороны</p>             
              </div>
            </li>

            <!-- THE SECOND SLIDE-->
            <li>
              <!-- SECOND SLIDE OVERLAY -->
              <div class="slider_overlay"></div> 
              <!-- SECOND SLIDE MAIN IMAGE -->
              <img src="sevastopol.jpg" alt="img">
              <!-- SECOND SLIDE CAPTION-->
              <div class="slider_caption">
                <h2>Наш маршрут</h2>
                <p>Горловка-Енакиево-Донецк-Макеевка-Харцызск-Зугрэз-Шахтерск-Торез-<br>КПП Мариновка <br>
                   Севастополь-Ялта-Алушта-Симферополь-Феодосия-Керчь </p>
              </div>
            </li>

            <!-- THE THIRD SLIDE-->
            <li>
              <!-- THIRD SLIDE OVERLAY -->
              <div class="slider_overlay"></div> 
              <!-- THIRD SLIDE MAIN IMAGE -->
              <img src="alushta.jpg" alt="img">
              <!-- THIRD SLIDE CAPTION-->
              <div class="slider_caption">

                <h2>Посылки и документы</h2>
                <p>Через нас Вы можете передать небольшие посылки или документы.</p>                
              </div>
            </li>
          </ul>
          <!-- BEGAIN SLIDER NAVIGATION -->
          <nav class="slides-navigation">
            <!-- PREV IN THE SLIDE -->
            <a class="prev" href="#">
              <span class="icon-wrap"></span>
              <h3><strong>Prev</strong></h3>
            </a>
            <!-- NEXT IN THE SLIDE -->
            <a class="next" href="#">
              <span class="icon-wrap"></span>
              <h3><strong>Next</strong></h3>
            </a>
          </nav>       
        </div>
        <!-- END SLIDER-->          
      </div>
      <!-- END SLIDER AREA -->
    </header>
    <!--=========== End HEADER SECTION ================--> 


    <!--=========== BEGIN ABOUT SECTION ================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="about_area">
              <!-- START ABOUT HEADING -->
              <div class="heading">
                <h2 class="wow fadeInLeftBig">О нас</h2>
                <p>Tandem-Tour - это компания которая занимается автобусными перевозками с 2008 года, и доставит Вас в нужный город в любое время года. На нашем счету более тысячи рейсов, в любую погоду и день недели. Комфортабельные условия и счастливые клиенты - наш девиз.
                Наш маршут проверен временем. Мы пересекаем только российскую границу, и до Крыма путь проходит на территории Российского государства. При любых форс-мажорных обстоятельствах маршут корректируется для того чтобы Вы добрались в кратчайшие сроки в пункт назначения.</p>
              </div>

              <!-- START ABOUT CONTENT -->
              <div class="about_content">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_featured">
                      <div class="panel-group" id="accordion">
                        <!-- START SINGLE FEATURED ITEAM #1-->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                 <span class="fa fa-check-square-o"></span>Наша цель
                              </a>
                            </h4>
                          </div>
                          <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                             Обеспечить своим клиентам комфортную поездку, на специально оборудованных для этого автобусах фирмы Man и Mercedes, предназначенных для дальних рейсов. А главное чтобы Вы доехали в нужный город вовремя, без стрессов, и с хорошим самочувствием. Перед каждым рейсом автобусы проходят диагностику на наличие поломок, а это значит что во время путешествия шансы на поломку минимальны.
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #2 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                 <span class="fa fa-check-square-o"></span>100% Безопасность
                              </a>
                            </h4>
                          </div>
                          <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                            Наши автобусы MAN и Mersedes имеют интеллектуальные системы и инновационные технологии: которые обеспечивают пассажирам 100% безопасность поездки, и  поддерживают водителя в тонусе во время поездок на дальние расстояние.                       
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #3 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                <span class="fa fa-check-square-o"></span>Комфорт во время поездки
                              </a>
                            </h4>
                          </div>
                          <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                             Автобусы оснащены эргономичными комфортными сидениями с большим пространством для Ваших ног, тем самым обеспечивая комфорт в дальних поездках. Откидные сидения позволят комфортно поспать. А так же для полного комфорта над каждым пассажирским сидением установлена система освещения и микроклимата, который Вы сможете настроить индивидуально в любое время вашей поездки.
                            </div>
                          </div>
                        </div>
                        <!-- START SINGLE FEATURED ITEAM #4 -->
                        <div class="panel panel-default wow fadeInLeft">
                          <div class="panel-heading">
                            <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                <span class="fa fa-check-square-o"></span>Счастливые клиенты и скидки для них
                              </a>
                            </h4>
                          </div>
                          <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                             Для каждого клиента у нас индивидуальный подход, мы стараемся выполнять все требования
                             пассажиров в полном объеме в рамках разумного. Для клиентов у нас действует
                             система скидок. Ежемесячные розыгрыши ценных призов в нашей группе ВКонтакте,
                             Специальные выгодные предложения для заранее собранных групп. 
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="about_slider">
                      <!-- BEGAIN FEATURED SLIDER -->
                      <div class="featured_slider">
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a><img src="orange5.jpg" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a><img src="orange6.jpg" alt="img"></a>                          
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a><img src="orange7.jpg" alt="img"></a>                           
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a><img src="orange2.jpg" alt="img"></a>                           
                        </div>
                        <!-- SINGLE SLIDE IN THE SLIDER -->
                        <div class="single_iteam">
                          <a><img src="orange1.jpg" alt="img"></a>                           
                        </div>
                      </div>
                      <!-- END FEATURED SLIDER -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>

    </section>
    <!--=========== END ABOUT SECTION ================-->
    
    <!--=========== BEGAIN WORKS SECTION ================-->
    <section id="works">
      <!-- BEGAIN MILESTONE WORSK SECTION -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="counter_section">
            <!-- SKILLS COUNTER OVERLAY -->
            <div class="slider_overlay"> </div>
            <div class="container">               
              <div class="counter_area">
               <div class="heading">
                  <h3 class="wow fadeInLeft">Наши достижения</h3>             
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="counter wow fadeInUp">
                    <i class="fa fa-users fa-2x"></i>
                    <h2 class="timer count-title" id="count-number" data-to="8389" data-speed="1500">400</h2>
                     <p class="count-text ">Клиентов</p>
                  </div>
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-3 col-md-3 col-sm-3">
                  <div class="counter wow fadeInUp">
                    <i class="fa fa-bus fa-2x"></i>
                    <h2 class="timer count-title" id="count-number2" data-to="1446" data-speed="1500">300</h2>
                     <p class="count-text ">Рейсов</p>
                  </div>
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-3 col-md-3 col-sm-3">                 
                   <div class="counter wow fadeInUp">
                    <i class="fa fa-exchange fa-2x"></i>
                    <h2 class="timer count-title" id="count-number3" data-to="321" data-speed="1500">200</h2>
                     <p class="count-text ">Дня в пути</p>
                  </div>
                </div>
                <!-- START SINGLE COUNTER-->
                <div class="col-lg-3 col-md-3 col-sm-3">                 
                  <div class="counter wow fadeInUp">
                    <i class="fa fa-suitcase fa-2x"></i>
                    <h2 class="timer count-title" id="count-number4" data-to="108" data-speed="1500">100</h2>
                     <p class="count-text ">Посылок</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END MILESTONE WORSK SECTION -->



    <!--=========== BEGAIN PRICING SECTION ================-->
    <section id="pricing">
      <div class="container">
        <div class="row col-lg-12 col-md-12">
          <!-- START ABOUT HEADING -->
          <div class="heading">
            <h2 class="wow fadeInLeftBig">Наш маршрут</h2>
            <p>Горловка-Енакиево-Донецк-Макеевка-Харцызск-Зугрез-Шахтерск-Торез-КПП Мариновка-Севастополь-Ялта-Алушта-Симферополь-Феодосия-Керчь</p>
          </div>
        </div>
        <div class="row col-lg-12 col-md-12">
          <div class="pricing_area">
            <div class="row">
            <!--<iframe src="https://api-maps.yandex.ua/frame/v1/-/CZsBYC0y" width="1200" height="900" frameborder="0"></iframe> -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m76!1m12!1m3!1d1377918.8463292837!2d36.88793645480149!3d47.58242304990596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m61!3e0!4m5!1s0x40e079edce5b8a69%3A0xc221f99f5b063a17!2z0JrQuNC90L7RgtC10LDRgtGAICLQqNCw0YXRgtGR0YAi!3m2!1d48.3082561!2d38.023913199999996!4m5!1s0x40e065a28ea99b15%3A0x524363fd74eb6c!2z0JXQvdCw0LrQuNC10LLQvg!3m2!1d48.236899199999996!2d38.2082157!4m5!1s0x40e09040d5378b4b%3A0x60a7f6d2ea19663!2z0JDQstGC0L7RgdGC0LDQvdGG0LjRjyAi0JrRgNGL0YLRi9C5INGA0YvQvdC-0LoiLCDQlNC-0L3QtdGG0LosINCU0L7QvdC10YbQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCw!3m2!1d48.011738!2d37.811046999999995!4m5!1s0x40e08e984a0db9a9%3A0xe4e52efde2e0641c!2z0JzQsNC60LXQtdCy0LrQsA!3m2!1d48.0459557!2d37.9666901!4m5!1s0x40e08b2b91ce3e97%3A0xad867f7cc478e448!2z0KXQsNGA0YbRi9C30YHQug!3m2!1d48.043203999999996!2d38.1393965!4m5!1s0x40e0f5dc9a58b55d%3A0xb8d3e12d2d58789a!2z0JfRg9Cz0YDRjdGB!3m2!1d48.0215476!2d38.261386!4m5!1s0x40e0598721147117%3A0x30a40119b0d7418!2z0KjQsNGF0YLQtdGA0YHQug!3m2!1d48.0486753!2d38.45053!4m5!1s0x40e0510df0e54653%3A0x95eb26e70828bdff!2z0KLQvtGA0LXQtw!3m2!1d48.0201627!2d38.654525799999995!4m5!1s0x40f04564714535b3%3A0xf720794f56c4beb6!2z0JrRgNCw0YHQvdC-0LTQsNGALCDQmtGA0LDRgdC90L7QtNCw0YDRgdC60LjQuSDQutGA0LDQuSwg0KDQvtGB0YHQuNGP!3m2!1d45.0392674!2d38.987221!4m5!1s0x409525ef659144f5%3A0xbd2da7afff4d34cc!2z0KHQtdCy0LDRgdGC0L7Qv9C-0LvRjA!3m2!1d44.61665!2d33.525366999999996!5e0!3m2!1sru!2sus!4v1479126882075" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe> 
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END PRICING SECTION ================-->


    <!--=========== BEGAIN BLOG SECTION ================-->
    <section id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- START BLOG HEADING -->
            <div class="heading">
              <h2 class="wow fadeInLeftBig"><font color="white">Расписание</h2>
              <p><font color="white">Автобусы отправляются ежедневно в обе стороны. До Севастополя, Ялты, Алушты цена билета 2200руб. До Симферополя, Феодосии, Керчи 2000руб </p>
            </div>            
          </div>
          <div class="col-lg-12 col-md-12">
            <!-- BEGAIN BLOG CONTENT -->
            <div class="blog_content">
                    <h3>Новый рейс в Крым через Новоазовск </h3>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Время<br>отправления</th>
                            <th>Город</th>
                            <th>Место<br>отправления</th>
                            <th>Ориентир</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>9.30</td>
                            <td>Горловка</td>
                            <!-- <td style="padding:50px;">Кинотеатр Шахтёр</td> -->
                            <td>Кинотеатр Шахтёр</td>
                            <td><img src="gor.jpg" alt="img"></td>
                          </tr> 
                          <tr>
                            <td>10.00</td>
                            <td>Енакиево</td>
                            <td>Блочок Алеся</td>
                            <td><img src="ena1.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>10.30</td>
                            <td>Харцызск</td>
                            <td>Родничок</td>
                            <td><img src="har1.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>11.00</td>
                            <td>Макеевка</td>
                            <td>Автостанция</td>
                            <td><img src="mak.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>12.00</td>
                            <td>Донецк</td>
                            <td>маг.Подарки</td>
                            <td><img src="don.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>12.30</td>
                            <td>Старобешево</td>
                            <td>Уточните по тел</td>
                            <td><img src="sta.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>13.00</td>
                            <td>Тельмоново</td>
                            <td>Уточните по тел</td>
                            <td><img src="tel.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>13.30</td>
                            <td>Новоазовск</td>
                            <td>Уточните по тел</td>
                            <td><img src="nov.jpg" alt="img"></td>
                          </tr>
                        </tbody>
                    </table>


                    <h3>Машрут Донбасс- Крым </h3>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Время<br>отправления</th>
                            <th>Город</th>
                            <th>Место<br>отправления</th>
                            <th>Ориентир</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>7.15</td>
                            <td>Горловка</td>
                            <!-- <td style="padding:50px;">Кинотеатр Шахтёр</td> -->
                            <td>Кинотеатр Шахтёр</td>
                            <td><img src="gor.jpg" alt="img"></td>
                          </tr> 
                          <tr>
                            <td>8.00</td>
                            <td>Енакиево</td>
                            <td>Блочок Алеся</td>
                            <td><img src="ena1.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>10.15</td>
                            <td>Донецк</td>
                            <td>Крытый рынок</td>
                            <td><img src="don.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>10.40</td>
                            <td>Макеевка</td>
                            <td>Папирус</td>
                            <td><img src="mak.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>11.10</td>
                            <td>Харцызск</td>
                            <td>Родничок</td>
                            <td><img src="har1.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>11.30</td>
                            <td>Зугрэс</td>
                            <td>Автостанция</td>
                            <td><img src="zyg1.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>11.50</td>
                            <td>Шахтёрск</td>
                            <td>маг.Подарки</td>
                            <td><img src="sha1.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>12.10</td>
                            <td>Торез</td>
                            <td>Музей</td>
                            <td><img src="tor.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>12.40</td>
                            <td>КПП Мариновка</td>
                            <td>КПП</td>
                            <td><img src="mar.jpg" alt="img"></td>
                          </tr>
                        </tbody>
                    </table>

                    <br>
                    <h3 class="wow fadeInLeftBig"><font color="white">Машрут Крым- Донбасс</h3>
                    <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Время<br>отправления</th>
                            <th>Город</th>
                            <th>Место<br>отправления</th>
                            <th>Ориентир</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>17.00</td>
                            <td>Краснодар</td>
                            <td>Автостанция</td>
                            <td><img src="kra.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>9.00</td>
                            <td>Севастополь</td>
                            <td>Стадион</td>
                            <td><img src="sev.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>11.00</td>
                            <td>Ялта</td>
                            <td>Автовокзал</td>
                            <td><img src="yal.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>11.30</td>
                            <td>Алушта</td>
                            <td>маг.Фуршет</td>
                            <td><img src="alu.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>13.00</td>
                            <td>Симферополь</td>
                            <td>ЖД Вокзал. гост Артек</td>
                            <td><img src="sim.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>15.00</td>
                            <td>Феодосия</td>
                            <td>Автовокзал</td>
                            <td><img src="feo.jpg" alt="img"></td>
                          </tr>
                          <tr>
                            <td>17.00</td>
                            <td>Керчь</td>
                            <td>Автовокзал</td>
                            <td><img src="ker.jpg" alt="img"></td>
                          </tr>
                        </tbody>
                    </table> 
                    <div class="warning">
                      <p>ВНИМАНИЕ! При возникновении проблем с документами у пассажиров, а так же  непредвиденных обстоятельств при пересечении границы перевозчик ответственности не несёт, а так же не возвращает деньги за поездку. С основными положениями, перечнем необходимых документов и правилами пересечения можно ознакомиться <a href="http://ukraina-krym.com/index/pravila_peresechenija_granicy_ukrainy_rossii/0-38">тут</a>, либо позвоните в миграционные службы России и Украины.
                      <br>СПРАВОЧНАЯ СЛУЖБА ПО ВОПРОСАМ МИГРАЦИИ (495)636-98-98 (Россия)<br>
                      ГОРЯЧАЯ ЛИНИЯ ПО ВОПРОСАМ МИГРАЦИИ +7(800)222-98-98 (Крым)

</p>
                    </div>                   
                  </div>
                </div>                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=========== END BLOG SECTION ================-->



<!--=========== BEGAIN CONTACT SECTION ================-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- START CONTACT HEADING -->
        <div class="heading">
        <br>
        <br>
          <h2 class="wow fadeInLeftBig">Забронировать</h2>
          <p><font color="black">Оставьте заявку, и мы Вам обязательно перезвоним в скором времени. Либо позвоните на любой из этих номеров:<br>
            <a href="tel:+380993558725">+380993558725</a> 
            <a href="tel:+380713078147">+380713078147</a> 
            <a href="tel:+380505519577">+380505519577 (Viber)</a>
            <a href="tel:+797871934452">+79787193442 (Крым)</a> 
          </p>
        </div>
      </div>
    </div>       
    <div class="row">
      <!-- BEGAIN CONTACT CONTENT -->
      <div class="contact_content">
        <!-- BEGAIN CONTACT FORM -->
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="contact_form">

            <!-- FOR CONTACT FORM MESSAGE -->
            <div id="form-messages"></div>
              <%=simple_form_for @welcome, url: welcomes_path do |f| %>
                <%=f.input :name,  :input_html => { :class => 'form-control' },  :label => 'ФИО' %> 
                <%=f.input :phone,  :input_html => { :class => 'form-control' },  :label => 'Телефон'  %>
                <%=f.input :departure, placeholder: 'Город отправления', collection: [ "Горловка", "Енакиево", "Донецк","Макеевка", "Харцызск", "Зугрэс","Шахтерск", "Торез","Краснодар", "Севастополь","Ялта", "Алушта", "Симферополь", "Феодосия", "Керчь"], :error => false, label: 'Город отправки
',
              :input_html => {:class => 'form-control'} %>
                <%=f.input :arrival, placeholder: 'Город прибытия', collection: [ "Горловка", "Енакиево", "Донецк","Макеевка", "Харцызск", "Зугрэс","Шахтерск", "Торез","Краснодар", "Севастополь","Ялта", "Алушта", "Симферополь", "Феодосия", "Керчь"], :error => false, label: 'Город прибытия',
              :input_html => {:class => 'form-control'} %>
                <%=f.input :date, as: :date, html5: true,  :input_html => { :class => 'form-control' }, 
                label: 'Дата выезда' %>

                <%=f.input :count, placeholder: 'Количество человек', collection:  1..20 , :error => false, label: 'Количество человек', :input_html => {:class => 'form-control'} %> 
                <%=f.submit 'Отправить', :class => 'submit_btn' %>
              <% end %>
          </div>
        </div>
        <!-- BEGAIN CONTACT MAP -->
        <div class="col-lg-7 col-md-7 col-sm-7">
          <div class="contact_map">
          <!-- BEGAIN GOOGLE MAP -->
               <div id="map_canvas"><iframe width="650" height="404" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJNVb0aBd34EARLG93MCufLPM&key=AIzaSyA9SNMQ7Shi_R4a4MSDvi6qPP46C5u23FI" allowfullscreen></iframe></div>
              </div>
        </div>           
      </div>
    </div>      
  </div>             
</section>
<!--=========== END CONTACT SECTION ================-->




<section id="service"> 
  <div class="container">
    <div class="uslugi">
      <h2><font color="white">Услуги</h2>
      <p>Продление миграционной карты. Севастополь, Бахчисарай, Симферополь, Джанкой. 
      <br> Отправления: Вторник,Суббота, 20:00.  
      <br> Стоимость 1.000 рублей. Телефон для справок: <a href="tel:+79787193442">+7(978)719-34-42</a></p></font>
    </div>
  </div>
</section>
</body>
</html>
