<!--=========== BEGAIN CONTACT SECTION ================-->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- START CONTACT HEADING -->
        <div class="heading">
        <br>
        <br>
          <h2 class="wow fadeInLeftBig">Контакты</h2>
          <p>Оставьте заявку, и мы Вам обязательно перезвоним в скором времени. Либо позвоните на любой из этих номеров:<br>
            <a href="+380993558725">+380993558725</a> 
            <a href="+380713078147">+380713078147</a> 
            <a href="+380505519577">+380505519577 (Viber)</a>
            <a href="+797871934452">+797871934452 (Крым)</a> 
          </p>
        </div>
      </div>
    </div>       
    <div class="row">
      <!-- BEGAIN CONTACT CONTENT -->
      <div class="contact_content">
        <!-- BEGAIN CONTACT FORM -->
        <div class="col-lg-5 col-md-5 col-sm-5">
          <div class="contact_form">

            <!-- FOR CONTACT FORM MESSAGE -->
            <div id="form-messages"></div>
              <%=simple_form_for @welcome, url: welcomes_path do |f| %>
                <%=f.input :name,  :input_html => { :class => 'form-control' }, placeholder: 'Имя', :label => 'ФИО' %> 
                <%=f.input :phone,  :input_html => { :class => 'form-control' }, placeholder: 'Телефон', :label => 'Телефон'  %>
                <%=f.input :departure, placeholder: 'Город отправления', collection: [ "Горловка", "Енакиево", "Донецк","Макеевка", "Харцызск", "Зугрэс","Шахтерск", "Торез","Краснодар", "Севастополь","Ялта", "Алушта", "Симферополь", "Феодосия", "Керчь"], :error => false, label: 'Город отправки
',
              :input_html => {:class => 'form-control'} %>
                <%=f.input :arrival, placeholder: 'Город прибытия', collection: [ "Горловка", "Енакиево", "Донецк","Макеевка", "Харцызск", "Зугрэс","Шахтерск", "Торез","Краснодар", "Севастополь","Ялта", "Алушта", "Симферополь", "Феодосия", "Керчь"], :error => false, label: 'Город прибытия',
              :input_html => {:class => 'form-control'} %>
                <%=f.input :date, as: :date, html5: true,  :input_html => { :class => 'form-control' } %>

                <%=f.input :count, placeholder: 'Количество человек', collection:  1..20 , :error => false, label: 'Количество человек', :input_html => {:class => 'form-control'} %> 
                <%=f.submit 'Отправить', :class => 'submit_btn' %>
              <% end %>
          </div>
        </div>
        <!-- BEGAIN CONTACT MAP -->
        <div class="col-lg-7 col-md-7 col-sm-7">
          <div class="contact_map">
          <!-- BEGAIN GOOGLE MAP -->
               <div id="map_canvas"><iframe width="650" height="404" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJNVb0aBd34EARLG93MCufLPM&key=AIzaSyA9SNMQ7Shi_R4a4MSDvi6qPP46C5u23FI" allowfullscreen></iframe></div>
              </div>
        </div>           
      </div>
    </div>      
  </div>             
</section>
<!--=========== END CONTACT SECTION ================-->