<% if Rails.env.production? %>
  User-Agent: *
  Allow: /
  Disallow: /admin
  Sitemap: http://www.tandem-tour.com/sitemap.xml
<% else %>
  User-Agent: *
  Disallow: /
<% end %>

Sitemap: http://www.tandem-tour.com/sitemap.xml.gz