<div class="www">
<div class="sign_in">
	<h3>Вход</h3>
	<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	    <%= f.input :email, label: 'Почта', required: false, autofocus: true %>
	    <%= f.input :password,label: 'Пароль', required: false %>
	    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

	  <div class="form-actions">
	    <%= f.button :submit, "Войти" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>
</div>
