<!DOCTYPE html>
<html>
<head>
  <title>Пассажирские перевозки Донбасс-Крым. Донецк,Горловка,Макеевка,Севастополь,Симферополь и другие города.</title>
  <meta name="Description" content="Регулярные пассажирские перевозки маршрутом Донбасс - Крым. Ежедневно, в обе стороны. Наш маршрут : Горловка-Енакиево-Донецк-Макеевка-Харцызск-Зугрэз-Шахтерск-Торез-
Краснодар-Севастополь-Ялта-Алушта-Симферополь-Феодосия-Керчь. Продление миграционной карты. Стоимость билета 2.000 рублей">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <!-- GOOGLE ANALYTICS SCRYPT -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-88787410-1', 'auto');
    ga('send', 'pageview');
  </script> 

  <!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter41978524 = new Ya.Metrika({
                    id:41978524,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/41978524" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  <!--  YANDEX, MAIL SEARCH CODE VERIFICATION-->
  <meta name="yandex-verification" content="7d82e86a0c0fa706" />
  <meta name='wmail-verification' content='2ecfe473b6cf8b63911f1e5ed191671c' />

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<%= yield %>


    <!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
    <section id="contactFeature">
      <!-- SKILLS COUNTER OVERLAY -->
      <div class="slider_overlay"></div>
      <div class="row">
        <div class="col-lg-12 col-md-12">       
          <div class="container">               
              <div class="contact_feature">
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-phone"></i>
                <h4>Позвоните нам</h4>
                <p><a style="color: white" href="tel:+380993558725">+380993558725</a></p>                
              </div>
            </div>
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-envelope-o"></i>
                <h4>Viber</h4>
                <p><a style="color: white" href="viber://add?number=+380505519577">+380505519577</a></p>
              </div>
            </div>
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-phone"></i>
                <h4>Крым</h4>
                <p><a style="color: white" href="tel:+79787193442">+79787193442</a></p>
              </div>
            </div>
            <!-- BEGAIN CALL US FEATURE -->
            <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="single_contact_feaured wow fadeInUp">
                <i class="fa fa-clock-o"></i>
                <h4>Время работы</h4>
                <p style="color: white">8:00-21:00</p>
              </div>
            </div>
          </div>
          </div>         
        </div>
      </div>
    </section>
    <!--=========== END CONTACT FEATURE SECTION ================-->

     <!--=========== BEGAIN FOOTER ================-->
     <footer id="footer">
       <div class="container">
         <div class="row">
           <div class="col-lg-6 col-md-6 col-sm-6">
             <div class="footer_left">
				<!--=========== Designed By WpFreeware Team ================-->
               <p>Copyright &copy; 2016 <a href="https://vk.com/club131517412">Tandem-Tour</a>. All Rights Reserved</p>
               <p>По вопросам сотрудничества звоните или пишите в Viber на номер: <a href='tel:+380505519577'>+380505519577</a> <br>Почта: <a href='mailto:feolyar@rambler.ru'>fedyar@rambler.ru</a> </p>
			   <!--=========== Designed By WpFreeware Team ================-->
             </div>
           </div>
           <div class="col-lg-6 col-md-6 col-sm-6">
             <div class="footer_right">
               <ul class="social_nav">
                 <li><a href="https://vk.com/club131517412"target="https://vk.com/club131517412"><i class="fa fa-vk"></i></a></li>
               </ul>
             </div>
           </div>
         </div>
       </div>
      </footer>
      <!--=========== END FOOTER ================-->
</body>
</html>
